In [1]:
#PYTHON
#GUIDO VAN ROSSUM
#variables, values
a=1
print(a)
#for run this press shift+enter

1

In [2]:
b=1.0
print(b)

1.0

In [4]:
#DATA TYPESNIN PYTHON
# INTEGER,FLOAT,COMPLEX,BOOL,STRINGS
a=1
print(type(a))

<class 'int'>

In [5]:
b=1.0
print(type(b))

<class 'float'>

In [6]:
c=10j
print(type(c))

<class 'complex'>

In [7]:
d="python"#words,sentence
print(type(d))

<class 'str'>

In [9]:
e=True
print(type(e))
f=False
print(type(f))

<class 'bool'>
<class 'bool'>

In [10]:
a=1#assign
b=2
c=1
print(a==b)# compare
print(a==c)

False
True

In [47]:
#conditional statements(if,elif,else)
a="python is a language"
if "p"in a:
    print("yes")
elif "E" in a:
    print("it is not there")
else:
    print("no")

yes

# second day

In [ ]:
#sep,end
#sep->Seperator
#end->end
#""
a= "python programming"
print(a,end="@\n")#\n-> next line
print("python","programming","in","tgc",sep="@")

python programming@
python@programming@in@tgc

# python rules:
***1.) starting 0***

***2.) not count last number***

In [4]:
#table of 10
#10*1=10
a=10#assignment operator
# b=10
#print(a==10)#compare
for i in range(1,11):#starting from 1 and ending with 10
    print(a,"*",i,"=",a*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
a=28.9#assignment operator
# b=10
#print(a==10)#compare
for i in range(1,11):#starting from 1 and ending with 10
    print(a,"*",i,"=",a*i)

28.9 * 1 = 28.9
28.9 * 2 = 57.8
28.9 * 3 = 86.69999999999999
28.9 * 4 = 115.6
28.9 * 5 = 144.5
28.9 * 6 = 173.39999999999998
28.9 * 7 = 202.29999999999998
28.9 * 8 = 231.2
28.9 * 9 = 260.09999999999997
28.9 * 10 = 289.0

In [12]:
#a^n
a=3#assignment operator
# b=10
#print(a==10)#compare
for i in range(1,11):#starting from 1 and ending with 10
    print(a,"*",i,"=",a**i)

3 * 1 = 3
3 * 2 = 9
3 * 3 = 27
3 * 4 = 81
3 * 5 = 243
3 * 6 = 729
3 * 7 = 2187
3 * 8 = 6561
3 * 9 = 19683
3 * 10 = 59049

In [15]:
a=8756
b=765
print(a,"*",b,"=",a*b)

8756 * 765 = 6698340

In [16]:
a=729
b=9
print(a,"/",b,"=",a/b)

729 / 9 = 81.0

# Homework: 04/07/2023

In [1]:
#1.Create a variable with name python and value30

#ans.
 
python=30
print(python)

30

In [2]:
#2. Create a variable to store a string value 'programming languages'

a="programming languages"
print(type(a))

<class 'str'>

In [35]:
#3. Create a variable get the value of which datatype its of a particular data/value

#ans.

a=1
b=2.3
print(type(a))

<class 'int'>

In [2]:
#4. Create a program to get the name, age , and place of a person using input function

#ans.

name= input("hello:")
print("hello I'm Vinky.")
age= input("your age:")
print("im 22.")
adress= input("your address:")
print("im from delhi")

hello:hello whats your name?
hello I'm Vinky.
your age:i'm 22 and your's?
im 22.
your address:I'm from india and you!
im from delhi

In [27]:
#5. Create a python program to print the 2 variable value in one single print function but should print in 2 lines

#ans.

x='Hii, Good Morning!!'
y='Have a Good Day!!'
print(x,'\n',y)

Hii, Good Morning!!
 Have a Good Day!!

In [28]:
#6. Create a python program to the date of birth of a person and print it in the format as date-month-year.

#ans.
dob=input("your date of birth!!")
print("2 may 2001")

your date of birth!!2-5-2001
2 may 2001

In [29]:
#7. create two integer numbers, float numbers and print them.

#ans.

a=1
b=2
print(a,"\n",b)
c=1.5
d=3.4
print(c,"\n",d)

1
 2
1.5
 3.4

In [34]:
#.Create a python program to calculate add,sub,mul,divison,power(**)- try with the above numbers.

#ans.
a=1
b=2
c=1.5
d=3.4
print(a,"+",b,"+",c,"+",d,"=",a+b+c+d)
print(a,"-",b,"-",c,"-",d,"=",a-b-c-d)
print(a,"*",b,"*",c,"*",d,"=",a*b*c*d)
print(a,"/",b,"=",a/b)
print(c,"/",d,"=",c/d)

1 + 2 + 1.5 + 3.4 = 7.9
1 - 2 - 1.5 - 3.4 = -5.9
1 * 2 * 1.5 * 3.4 = 10.2
1 / 2 = 0.5
1.5 / 3.4 = 0.4411764705882353

In [35]:
#use type() function & check the types of given data:
#"python"
#8.94
#"True"
#True

#ans.

a="python"
print(type(a))
b=8.94
print(type(b))
c="True"
print(type(c))
d=True
print(type(d))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>

# completed

In [1]:
#4. Create a program to get the name, age , and place of a person using input function

#ans

a=input("enter your name")
b=input("enter your age")
c=input("enter your place")
print("my name is",a,"my age is",b,"my place is",c)

enter your namevinky
enter your age22
enter your placeworld
my name is vinky my age is 22 my place is world